.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
.pnpm-store/
.env
*.log
cypress/downloads
public/assets/fonts
frontend/node_modules
frontend/dist
frontend/.env
frontend/,pnpm-store
backend/node_modules
backend/dist
backend/.env